/*---------------General---------------*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


html{
    font:normal 16px sans-serif;
    color:#fff;
}

nav{
    list-style:none;
}

a {
    text-decoration:none;
    color:inherit;
    cursor:pointer;
    opacity:0.9;
}

a:hover{
    opacity: 1;
}

a.btn{
    display:block;
    color:#fff;
    border-radius:5px;
    text-transform:uppercase;
    background-color:grey;
    font-weight:800;
    line-height:30px;
    text-align:center;
    margin-bottom:15px;
    width:90px;
}

.basic_section {
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:125px 100px;
}

.main_footer{
    position:absolute;
    bottom:0;
    left:0;
}

hr{
    width:200px;
    height:2px;
    background-color:#2196F3;
    border:0;
    margin-bottom:60px;
    margin-left:538px;
} 

/*---------------Header---------------*/

.menu{
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.menu .logo{
    font-family:'Quicksand', sans-serif;
    margin-left:10px;
}

.navbar{
    display:flex;
}

.menu a{
    margin:17px;
}

@media (max-width:750px){
    .menu{
        padding:20px 50px;
    }
}

@media (max-width:600px){
    .menu{
        flex-direction:column;
    }
    .menu .logo{
        margin-bottom:15px;
    }
}

.logo{
    margin-right:50px;
}

/*---------------Page d'accueil---------------*/

.accueil{
    justify-content:center;
    min-height:100vh;
    text-align:center; 
    text-shadow:1px 1px 5px black;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:125px 100px;
}

.accueil .background-image{
    position:absolute;
    width:100%;
    height:100%;
    background-size:cover;
    z-index:-1;
}

.accueil .titre{
    font:bold 50px 'Open Sans', sans-serif;

}

.accueil .titre_bis{
    font:normal 25px 'Open Sans', sans-serif;
    margin-bottom:20px;
}

/*---------------About Us---------------*/

.accueil .welc{
    position:absolute;
    font-family:'Quicksand', sans-serif;
    font-size:50px;
    text-shadow:1px 1px 5px black;
    top:150px;
}

.text1{
    position:absolute;
    font-family:'Quicksand, sans-serif';
    font-weight:normal;
    font-size:20px;
    text-align:center;
    top:250px;
    text-shadow:1px 1px 1px black;
}
.text2{
    position:absolute;
    font-family:'Quicksand, sans-serif';
    font-weight:normal;
    font-size:20px;
    text-align:center;
    top:350px;
    right:300px;
    text-shadow:1px 1px 1px black;
}

.fa{
    color:#fff;
}

@media (max-width :700px){
    .accueil .text1{
        flex-direction:column;
    }
    .accueil .text2{
        margin-top:100px;
    }
}

/*---------------Our Story Section---------------*/


.titleAbout{
    color:#414a4f;
    text-transform:capitalize;
    font:normal 32px 'Open Sans', sans-serif;
    margin-bottom:35px;
    margin-top:35px;
    text-align:center;
}
.textAbout{
    color:#414a4f;
    text-align:center;
    margin-bottom:35px;
    margin-right:150px;
    margin-left:150px;
    padding:0 20px;
    line-height:2;
}

.imageUs{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.ourStory .imageUs .image{
    padding:20px;
    height:490px;
    border-radius:3px;

    background-clip: content-box;
    background-size:cover;
    background-color:white;

    flex-basis:40%;
}

@media(max-width:830px){
    .ourStory .imageUs .image{
        flex-basis:100%;
        padding : 20px;
        width:50px;
    }
}

@media(max-width:1000px){
    .ourStory .imageUs .image{
        flex-basis : 60%;
        padding:10px;
    }
}

/*---------------Features Section---------------*/

.features{
    background-color:#f7f7f7;
}

.features .icons .icon{
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
}


.features .icons .icon .fa-futbol{
    font-size: 50px;
    color:#2196F3;
    margin-bottom:20px;
}
.features .icons .icon .smallTitle{
    color:#555;
    font-size:20px;
    margin-bottom:20px;
}

.features .icons .icon .text{
    margin-bottom:45px;
    color:#555;
}

.features .icons .icon .textLast{
    color:#555;
}

.features .icons .icon .fa-chalkboard-teacher{
    font-size: 50px;
    color:#2196F3;
    margin-bottom:20px;
} 

.features .icons .icon .fa-broadcast-tower{
    font-size: 50px;
    color:#2196F3;
    margin-bottom:20px;
} 

/*---------------Contact Section---------------*/


.contact{
    background-color: rgb(225,225, 225);
    flex-basis: 33%;
}

.contact .subscription{
    display : flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    width: 80%;
    text-align: center;
    padding: 0 30px;
}

.contact .smallTitle{
    color:#555;
    font-size:20px;
    margin-bottom:20px;
    text-align: center;
    padding: 0 30px;
}

.contact .text{
    margin-bottom:45px;
    color:#555;
    text-align: center;
    padding: 0 30px;
}

.contact .subscription .inputEmail{
    padding: 15px;
    flex: 1;
    margin-right: 30px;
    margin-left:100px;
    font-size: 18px;
    color: #555;
    text-align: center;
}

.contact .subscription .subBtn{
    color: #fff;
    border-radius:4px;
    text-transform:uppercase;
    background-color: #2196F3;
    font-weight: 800;
    text-align:center;
    padding: 10px 42px;
    text-align: center;
}

@media (max-width: 800px){
    .contact form .inputEmail{
        flex-basis: 100%;
        margin: 0 0 20px 0;
    }
}

.contact .main_footer_about{
    position:relative;
    color:black;
}


/*---------------Classement---------------*/


table
{
    font: normal 25px 'Open Sans', sans-serif;
    border-collapse: collapse;
    position: absolute;
    text-align: center;
    top: 200px;
    right:300px;
    width: 23%;
    text-shadow: 1px 1px 1px black;
    background-color: rgba(255, 255, 255, 0.7);
}
td
{
    font-size: 15px;
    border-bottom: 1px solid black;
}
th
{
    font-size: 18px;
    border-bottom: 1px solid black;
    background-color:rgb(68, 68, 68);
}

.LDC{
    background-color:rgba(46, 198, 245, 0.4);

}

.barrage{
    background-color:rgba(255, 183, 49, 0.4);
}

.EUROPA{
    background-color:rgba(149, 224, 35, 0.4);
}

.rele{
    background-color:rgba(247, 51, 51, 0.4);
}

.titre_classement{
    position: absolute;
    right:290px;
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    text-shadow: 1px 1px 5px black;
    top:130px;
}

/*---------------Choix classement---------------*/

.choix ul{
    position: absolute;
    left: 100px;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    text-shadow: 1px 1px 5px black;
    top:100px;
    list-style:none;
}

.choix li{
    float:left;
}

.choix ul ul{
    position: absolute;
    top:30px;
    visibility:hidden;
    flex-direction:column;
}

.choix ul li ul li{
    flex-direction:column;
}

.choix ul li:hover ul{
    visibility:visible;
}

.choix ul li ul a:hover{
    color:black;
}

@media (max-width:950px){
    .titre_classement{
        right:200px;
        top:100px;
    }
    .choix ul{
        left: 70px;
        top: 150px;
    }
    table{
        left:450px;
        top:150px;
    }
}

@media (max-width:750px){
    .titre_classement{
        font-size: 25px;
        right:150px;
        top:145px;
    }
    .choix ul{
        font-size: 25px;
        left: 5px;
        top: 150px;
    }
    table{
        left:350px;
        top:195px;
    }
}

@media (max-width:650px){
    .titre_classement{
        font-size: 20px;
        right:170px;
        top:145px;
    }
    .choix ul{
        font-size: 20px;
        left: 5px;
        top: 150px;
    }
    table{
        left:250px;
        top:195px;
    }
}

@media (max-width:550px){
    .titre_classement{
        font-size: 20px;
        right:20px;
        top:145px;
    }
}